/* CSS Document */
/**{
	margin:0;
}*/
@font-face{
	font-family: Convergence;
	src: url(../fonts/Convergence-Regular.ttf);
}
@font-face{
	font-family: BreeSerif;
	src: url(../fonts/BreeSerif-Regular.otf);
}
@font-face{
	font-family: AlegreyaSans;
	src: url(../fonts/AlegreyaSans-Regular.otf);
}
body{
	background-image: url(../img/fondos/restaurant_icons.png);
	background-attachment: fixed;
	font-family: AlegreyaSans !important;
}

/*********************
	Barra lateral
*********************/
body::-webkit-scrollbar{
	width: 7px;
}
body::-webkit-scrollbar-thumb{
	background-color:#C50801;
	border-radius: 20px;
}
body::-webkit-scrollbar-track{
	background-color:hsla(48,100%,50%,1.00);
}

/*************
	Navbar
*************/
.navbar, .panel-heading{
	background-color:hsla(48,100%,50%,1.00) !important;
	border-radius: 0px;
	margin:0;
	border:none;
	/*padding: 10px;*/
}
.navbar img{
	width: 250px;
}
.navbar a{
	color:white;
	margin:0;
	padding:25px !important;
	font-size:20px;
	outline: none;
}
.navbar a:hover{
	background-color: #C50801 !important;
}
.navbar a:focus{
	background-color: transparent !important;
}
.navbar-header{
	font-family: Convergence !important;
}
.glyphicon-menu-hamburger{
	color:white;
	font-size:25px;
}

/****************
	Carousel
****************/
.item img{
	/*height: 750px !important;*/
	width: 100%;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


/********************
	Restaurantes
********************/
#panelRest{
	width: 90%;
	margin: 10px auto;
}
.centrado{
	/*width: 100% !important;*/
	text-align: center !important;
	/*margin:auto;*/
}
.restaurante{
	width: 200px;
	height: 200px;
	background-color:transparent;
	margin:20px 50px;
	position: relative;
	transition: all 1s ease;
	transform-style: preserve-3d;
}
.restaurante:hover{
	transform: rotateY(180deg) translateX(-50%);;
	
}
.restaurante img, .flip-2{
	width: 100%;
	height: 200px;
	/*margin-left: -15px;*/
	border-radius: 10px;
	background-color:  hsla(48,100%,50%,1.00);
}
.flip-2{
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	text-align: center;
	color:#C50801;
}
.flip-2 h4{
	font-family: BreeSerif;
	font-size: 30px;
}
.flip-2 a{
	color:#C50801;
	text-decoration: none;
}
.flip-2 a:hover{
	text-decoration: underline;
}
.restaurante .flip-1,
.restaurante .flip-2{
position: absolute;
backface-visibility: hidden;
}
.restaurante .flip-2{
transform: rotateY(-180deg);
}

/****************
	Filosofia
****************/
.jumbotron{
	font-family: BreeSerif;
	color:white;
	padding-left: 20px;
	margin:0;
	overflow-x: hidden;
}
.jumbotron h1{
	font-size:3em;
}
.jumbotron h1, .jumbotron h2{
	margin-left:-50px;
	opacity: 0;
}
#fil1{
	background-image: url(../img/filosofia/hamburguesa.jpg);
	background-position: top;
	background-size: 100%;
	background-attachment: fixed;
}
#fil2{
	background-image: url(../img/filosofia/sushi.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

/**************
	Iconos
**************/
.present{
	text-align: center;
}
.cajaIcon{
	margin:50px;
}
.triCaja p{
	margin:20px 30px;
}
.iconos{
	width: 50px;
	height: 50px;
}
.pColor{
	color:#C50801;
	font-size: 17px;
}

/*************
	Footer
*************/
footer{
	background-color: hsla(48,100%,50%,1.00);
	padding:20px;
	font-family: Convergence;
	color:#C50801;
	text-align: center;
}
footer a,footer a:hover{
	color:#C50801;
	text-decoration: none;
}
/**************
	Colores
**************/
.red{
	background-color:#C50801;
}
.yellow{
	background-color:hsla(48,100%,50%,1.00);
}
.blue{
	background-color:#131BA8;
}
.green{
	background-color:#008306;
}

/**************
 	Modal
*************/
.modal-content{
	background-color:rgba(255,249,200,1.00);
	border:solid 5px #C50801;
	border-radius: 0px;
}
.modal-header{
	border:none;
	background-color:#C50801;
	color:hsla(48,100%,50%,1.00);
	font-family: Convergence;
}
.input-group{
	margin:10px;
}
.input-group-addon{
	background-color:#C50801;
	color: hsla(48,100%,50%,1.00);
	border:none;
	border-radius: 0px;
}
.acceso{
	border:none;
	border-bottom: solid 5px #C50801;
	border-radius: 0px;
	background-color:transparent;
	color:#C50801;
	box-shadow: 0px 0px 0px transparent;
}
.acceso:focus{
	box-shadow: 0px 0px 0px transparent;
	border-bottom: solid 5px #C50801;
}
.btEnviar,#generarFactura{
	margin: 10px;
	border-radius: 0px;
	border:solid 5px #C50801;
	background-color: hsla(48,100%,50%,1.00);
	color:#C50801;
	float:right;
}
.btEnviar:hover, #generarFactura:hover{
	background-color: #C50801 !important;
	color: hsla(48,100%,50%,1.00) !important;
}
.modal-footer{
	margin-top:40px;
	border:none;
}
.close{
	color:white;
	opacity:1;
	font-size:30px !important;
}


/****************
	Paneles
****************/
.panel{
	border:solid 5px #C50801;
	border-radius:0px !important;
}